xVAEnv
xVAEnvCPU
node_modules
*.wav
downloads/*
output/*
output/*.wav
output/**/*.wav
output/*.mp3
output/**/*.mp3
output/*.ogg
output/**/*.ogg
output/**/*.json
*.ckpt
*.todo
__pycache__/
.cache/
*.pyc
server.log
server.log.*
cpython
xVASynth-win*
model.rar
build
dist
FASTPITCH_LOADING
WAVEGLOW_LOADING
SERVER_STARTING
DEBUG*
models
release-builds
package-lock.json
app.log
batch
python/wav2vec2/pytorch_model.bin
python/ffmpeg.exe