absl-py==0.13.0
aiohttp==3.7.4.post0
altgraph==0.17
antlr4-python3-runtime==4.8
appdirs==1.4.4
async-timeout==3.0.1
attrs==21.2.0
audioread==2.1.8
cachetools==4.2.2
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==8.0.1
colorama==0.4.4
cycler==0.11.0
Cython==0.29.24
dataclasses==0.8
decorator==4.4.2
Deprecated==1.2.13
docopt==0.6.2
editdistance==0.5.3
epitran==1.2
fairseq==0.10.0
ffmpeg-normalize==1.22.4
ffmpeg-progress-yield==0.2.0
ffmpeg-python==0.2.0
filelock==3.0.12
fsspec==2021.7.0
future==0.18.2
g2pC==0.9.9.3
google-auth==1.33.1
google-auth-oauthlib==0.4.4
googleads==3.8.0
grpcio==1.39.0
httplib2==0.19.1
huggingface-hub==0.0.12
hydra-core==1.1.1
idna==2.10
idna-ssl==1.1.0
importlib-metadata==2.0.0
importlib-resources==5.2.2
inflect==4.1.0
jaconv==0.3
joblib==0.17.0
kiwisolver==1.3.1
librosa==0.8.0
llvmlite==0.34.0
marisa-trie==0.7.7
Markdown==3.3.4
matplotlib==3.3.4
multidict==5.1.0
nltk==3.6.7
num2words==0.5.10
numba==0.51.2
numpy==1.19.5
oauth2client==4.1.3
oauthlib==3.1.1
omegaconf==2.1.1
packaging==20.4
panphon==0.19.1
pefile==2019.4.18
Pillow==7.2.0
pip==20.2.3
pkuseg==0.0.25
pooch==1.2.0
portalocker==2.3.2
praat-parselmouth==0.4.0
protobuf==3.17.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyDeprecate==0.3.0
pydub==0.25.1
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.9
pykakasi==2.2.1
pyparsing==2.4.7
PySocks==1.7.1
python-crfsuite==0.9.8
python-dateutil==2.8.2
pytorch-lightning==0.7.1
pytz==2015.7
pywin32==301
pywin32-ctypes==0.2.0
PyYAML==5.3.1
regex==2021.8.28
requests==2.24.0
requests-oauthlib==1.3.0
resampy==0.2.2
Resemblyzer==0.1.1.dev0
rsa==4.7.2
sacrebleu==2.0.0
sacremoses==0.0.45
scikit-learn==0.23.2
scipy==1.5.2
setuptools==50.3.0
six==1.15.0
sklearn-crfsuite==0.3.6
SoundFile==0.10.3.post1
stopit==1.1.1
suds-jurko==0.6
tabulate==0.8.9
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
threadpoolctl==2.1.0
tokenizers==0.10.3
torch==1.9.0+cu111
torchaudio==0.9.0
torchmetrics==0.4.1
torchvision==0.10.0+cu111
tqdm==4.61.2
transformers==4.9.2
typing==3.7.4.3
typing-extensions==3.7.4.3
unicodecsv==0.14.1
Unidecode==1.1.1
urllib3==1.25.10
webrtcvad==2.0.10
Werkzeug==2.0.1
wheel==0.35.1
wrapt==1.14.1
yarl==1.6.3
zipp==3.3.0
