a {
     display: inline;
}
 button, .voiceType {
     background-color: #92ab20;
     border: none;
     color: white;
     padding: 5px;
     text-shadow: 0 0 2px black;
     font-size: 13pt;
     font-weight: bold;
     cursor: pointer;
     user-select: none;
     box-shadow: 0 1px 5px 1px rgba(0,0,0,0.3);
     transition: background-color 500ms;
 }
 button:hover, .voiceType:hover {
     filter: brightness(110%);
 }
 button:disabled {
     background-color: gray;
     opacity: 0.65;
     cursor: not-allowed;
 }
 body {
     margin: 0;
     overflow: hidden;
 }
 ::-webkit-input-placeholder {
    font-style: italic;
 }
 #appcontent {
     background-color: #383838;
     height: 100vh;
     display: flex;
     overflow: hidden;
     font-family: Helvetica;
 }
 #left, #right {
     height: 100%;
     flex-grow: 1;
     width: 50vw;
 }
 #left {
     width: 350px;
 }
 #right {
     width: calc(100vw - 300px);
     z-index: 1;
 }
 #rightBG1, #rightBG2 {
     width: calc(100vw - 300px);
     background: linear-gradient(0deg, grey 0, rgba(0,0,0,0)), grey;
     background-repeat: no-repeat !important;
     background-position-x: 100% !important;
     background-size: cover !important;
     height: 100%;
     z-index: -1;
     position: absolute;
 }
 #rightBG2 {
     transition: opacity 500ms;
 }
 .top {
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 10px;
     height: 5vh;
     font-size: 18pt;
 }
 #topLeft {
     display: flex;
     justify-content: space-between;
     align-items: center;
     color: white;
     padding-bottom: 0;
     margin-top: -10px;
     max-width: 300px;
 }
 #game-label {
     font-weight: bold;
     font-family: Arial;
     height: 100%;
     display: flex;
     align-items: center;
     text-shadow: 0 1px rgba(255,255,255,0.5);
     font-size: 2rem;
     color: #555;
 }
 #selectedGameDisplay {
    text-align: center;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
 }
 option {
     color: black;
     background-color: rgba(0,0,0,0);
 }
 #searchContainer {
    display: flex;
    justify-content: center;
    height: 20px;
}
 #voiceSearchInput, #searchGameInput {
    width: calc(100% - 25px);
    text-align: center;
    background: none;
    color: white;
    border: none;
    border-bottom: 1px solid white;
 }
 #searchGameInput {
    width: 50vw;
    font-size: 16pt;
 }
 #voiceSearchInput:focus, #voiceSearchInput:active, #searchGameInput:focus, #searchGameInput:active {
    outline: none;
 }
 .content {
     height: 95vh;
 }
 #voiceTypeContainer {
     margin: 10px;
     height: calc(95vh - 67px);
     padding-top: 1px;
     overflow-y: auto;
     background: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.05) 35px, rgba(255,255,255,.05) 70px), linear-gradient(0deg, #444 0, rgba(0,0,0,0)), gray;
 }
 .voiceType {
     text-align: center;
     background-color: darkgrey;
     margin: 5px;
     padding: 2px;
 }
 #topRight {
     display: block;
     padding-bottom: 5px;
     z-index: 3;
 }
 #title {
     display: flex;
     justify-content: center;
     font-weight: bold;
     font-family: Arial;
     text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
     color: black;
 }
 #topRight > svg {
     height: 30px;
     width: 30px;
     margin-top: -30px;
     float: right;
     cursor: pointer;
 }
 #description {
     color: white;
     text-shadow: 0 0 1px black;
     text-align: center;
     height: 20px;
 }
 #description.withContent {
     background-color: rgba(0,0,0,0.2);
 }
 textarea {
     opacity: 0.9;
     height: 50px;
     width: calc(95vw - 306px);
     margin-left: 2.5vw;
     margin-right: 2.5vw;
     margin-top: 9px;
     overflow-x: hidden;
     text-align: center;
 }
 #buttonContainer {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 5vh;
     margin: 10px;
 }
 #buttonContainer > button {
     margin-left: 5px;
 }
 #samplePlay {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 30px;
     width: 30px;
     font-size: 25pt;
     font-weight: bold;
     font-family: Arial;
     text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
     margin-left: 15px;
     margin-right: 10px;
     cursor: pointer;
     user-select: none;
 }
 #voiceSamples {
     width: calc(95vw - 300px);
     height: calc(90vh - 185px - 290px);
     background: rgba(255,255,255,0.1);
     margin-left: 2.5vw;
     margin-right: 2.5vw;
     margin-top: 65px;
     overflow-y: auto;
 }
 .sample {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 5px;
     background: white;
     padding: 2px;
     padding-left: 15px;
     border-radius: 3px;
 }
 .sample > div:first-child {
     display: -webkit-box;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 3;
     width: calc(100% - 295px);
 }
 .sample > div {
     display: flex;
     overflow: hidden;
     text-overflow: ellipsis;
 }
 .sample > div > div {
     display: flex;
     align-items: center;
     font-size: 18pt;
     cursor: pointer;
 }
 .sample:hover {
     opacity: 0.9;
 }
 audio {
     width: 200px;
 }
 @keyframes spinner-spin {
     0% {
         transform: rotate(0deg);
     }
     100% {
         transform: rotate(360deg);
     }
 }
 .spinner {
     display: inline-block;
     border: 7px solid rgba(0, 0, 0, 0.4);
     border-left-color: #7983ff;
     border-radius: 50%;
     width: 20px;
     height: 20px;
     padding: 5px;
     animation: spinner-spin 1.2s linear infinite;
 }

 ::-webkit-scrollbar {
     width: 8px;
 }
 ::-webkit-scrollbar-track {
     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
     border-radius: 10px;
 }
 ::-webkit-scrollbar-thumb {
     border-radius: 10px;
     /*background: rgba(218,142,58, 0.5) !important;*/
     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
     transition: background-color 500ms;
     opacity: 0.5;
 }

 #modalContainer, #settingsContainer, #updatesContainer, #infoContainer, #gameSelectionContainer, #batchGenerationContainer, #EULAContainer, #patreonContainer, #pluginsContainer {
     display: flex;
     justify-content: center;
     align-items: center;
     position: absolute;
     height: 100vh;
     width: 100vw;
     transition: opacity 200ms;
     background: rgba(0,0,0,0.5);
     z-index: 100;
 }
 #EULAContainer > .modal > div:nth-child(2) {
    overflow-y: auto;
    height: 60vh;
    text-align: left;
 }
 #EULAContainer > .modal > div:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 hr {
     width: 100%;
 }
 .modal {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     height: 35vh;
     width: 35vw;
     padding: 10px;
     min-height: 250px;
     max-height: 100vh;
     min-width: 400px;
     max-width: 100vw;
     text-align: center;
     background-color: #333;
     color: white;
     box-shadow: 0 1px 2px 2px rgba(255,255,255,0.1);
 }
 .modal > span {
     margin-bottom: 25px;
 }
 .modal > div {
     margin: 10px;
 }
 .modal button {
     margin: 5px;
 }
 .modal > div > input[type=text] {
     padding: 5px;
     width: 25vw;
     text-align: center;
 }
 #settingsContainer > .modal, #infoContainer > .modal, #updatesContainer > .modal, #patreonContainer > .modal, #pluginsContainer > .modal {
     height: 65vh;
     width: 45vw;
     min-height: 500px;
     min-width: 500px;
 }
 #gameSelectionContainer > .modal, #batchGenerationContainer > .modal, #EULAContainer > .modal {
    height: 75vh;
    width: 85vw;
    min-height: 500px;
    min-width: 500px;
 }
 #pluginsContainer > .modal {
    width: 65vw;
    min-width: 500px;
 }
 .gameSelection {
    cursor: pointer;
    background-repeat: no-repeat !important;
    background-position-x: 100% !important;
    background-size: cover !important;
    margin: 10px;

    height: 200px;
    width: 30%;
    min-width: 400px;
    max-width: 450px;
 }
 .gameSelectionContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0.6) 0px, rgba(0,0,0,0));
 }
 .gameSelectionContentToHover:hover {
    background: linear-gradient(0deg, rgba(0,0,0,0.2) 0px, rgba(0,0,0,0));
 }
 #gameSelectionListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    width: 95%;
    height: 90%;
    background: rgb(75,75,75);
    padding: 20px;
    overflow-y: auto;
 }
 .gameSelectionContent > div {
    text-align: left;
    padding: 5px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
 }
 .gameSelectionContent > div:last-child {
    font-size: 20pt;
 }
 #app_version {
     display: flex;
     justify-content: center;
 }
 #settingsOptionsContainer {
     flex-grow: 1;
     width: 85%;
 }
 #infoContainer > .modal > .flexTable > div > div:last-child {
     width: 100%;
 }
 #resetBtnsContainer {
    display: flex;
    justify-content: space-around;
 }
 #resetBtnsContainer > button {
    width: 30%;
 }



 /*Chrome*/
 #chrome {
     display: flex;
     height: 25px;
     width: 100vw;
     background-color: #1c1c1c;
     opacity: 0.88;
     transition: opacity 200ms;
 }
 #dragBar {
     flex-grow: 1;
     -webkit-app-region: drag;
     display: flex;
     align-items: center;
     justify-content: center;
     font-family: Helvetica;
     color: rgb(200,200,200);
 }
 #chromeActions, #chromeActions > div {
     display: flex;
 }
 #chromeActions > div {
     justify-content: center;
     align-items: center;
     color: white;
     padding: 5px;
     cursor: pointer;
     user-select: none;
 }
 #chromeActions > div:hover {
     color: rgb(200,200,200);
 }
 #chromeQuit:hover {
     color: red !important;
 }


 /*===========================================================================*/
 /*======================== Pitch editor =====================================*/
 /*===========================================================================*/
 input[type=checkbox] {
     height: 20px;
     width: 20px;
 }

 #editorContainer {
     overflow-x: scroll;
     margin-left: 2.5vw;
     margin-right: 2.5vw;
 }
 #letterLength {
     width: 150px;
     margin-right: 5px;
 }
 #editor {
     font-family: monospace;
     width: 7500px;
     display: flex;
     overflow-x: auto;
     overflow-y: hidden;
     align-items: center;
     padding-left: 25px;

     min-width: calc(94vw - 300px);
     height: 145px;
     height: 200px;
     background: rgba(255,255,255,0.2);
 }
 .letter > div:first-child {
     height: 10px;
     margin-top: -15px;
 }
 .letter {
     height: 200px;
     height: 150px;
     width: 50px;
     cursor: pointer;
     display: inline-flex;
 }
 #editor > div > div {
     text-align: center;
     font-size: 20pt;

     margin-right: 20px;
 }

 .slider::-webkit-slider-thumb {
   -webkit-appearance: none;
   cursor: pointer;
   cursor: n-resize;
   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
 }

 .slider {
   -webkit-appearance: none;
   transform: rotate(270deg);
   width: 150px !important;
   min-width: 150px !important;
   max-width: 150px !important;
   height: 50px;
   margin-left: -85px;
 }

 .slider::-webkit-slider-thumb {
   -webkit-appearance: none;
   width: 10px;
   height: 50px;
   margin-top: 0px;

   border-radius: 0px;
   border: none;
   background: rgba(218,142,58, 0.9) !important;
   transition: background-color 500ms;
 }

 .slider:focus {
   outline: none;
 }
 #adv {
     height: 250px;
 }
 .letter:nth-child(even) > input {
     background-color: rgba(0,0,0,0.3);
 }
 .letter:nth-child(odd) > input {
     background-color: rgba(255,255,255,0.3);
 }
 .letter {
     text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
     margin-left: 3px;
 }
 #editorTooltip {
     display: none;
     justify-content: center;
     align-items: center;
     position: fixed;
     height: 40px;
     width: 55px;
     margin: 10px;
     color: white;
     background: rgba(0,0,0,0.75);
     border-radius: 10%;
 }
 #bespoke_hifi_bolt {
    margin-left: 5px;
    opacity: 0;
    color: gold;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
 }
 /*===========================================================================*/

 #adv_opts{
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 4px;
     font-weight: bold;
     color: #222;
     text-shadow: 0px 0px 1px rgba(255,255,255,0.4);
 }
 #adv_opts > div {
     display: flex;
     align-items: center;
     justify-content: space-between;
     background: rgba(255,255,255,0.2);
     margin-bottom: 5px;
 }
 #adv_opts > div > button {
     margin: 5px;
 }
 #adv_opts > div > div {
     margin: 5px;
     display: flex;
     align-items: center;
 }
 #adv_opts > div > div > span {
     margin-right: 5px;
 }
 #adv_opts > div > div > input[type=number] {
     height: 25px;
     width: 50px;
 }
 .flexTable {
     display: flex;
     flex-direction: column;
     width: 100%;
 }

 .flexTable > div {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
 }

 .flexTable > div > div > input {
     width: 90%;
 }
 .flexTable > div > :not(script) {
     display: flex;
     justify-content: center;
     flex-direction: column;
     min-height: 25px;
     width: 50%;
     padding: 0;
     margin: 3px 0 3px 0;
     align-items: center;
 }

 .flexTable > div > div:nth-child(1){
     justify-content: center;
     width: 50%;
     padding-left: 25px;
     /*font-style: italic;*/
     align-items: flex-end;
 }
 .flexTable > div > div > input[type="submit"], .flexTable > div > div > a {
     align-self: flex-start !important;
 }

 .flexTable > div > div > span.view-calendar > input {
     width: 95%;
 }

 .renameSVG {
     height: 20px;
     width: 20px;
 }

 #settingsCog, #patreonIcon, #updatesIcon, #infoIcon, #batchIcon, #pluginsIcon {
     display: flex;
     position: fixed;
     z-index: 1000;
     width: 50px;
     top: 35px;
     right: 0px;
 }
 #infoIcon {
    right: 77px;
    top: 35px;
 }
 #updatesIcon {
    right: 100px;
    top: 38px;
 }
 #batchIcon {
    right: 125px;
    top: 38px;
 }
 #pluginsIcon {
    right: 155px;
    top: 38px;
 }
 #updatesContainer > div {
     height: 40vh;
 }
 #updatesLogList {
     width: 100%;
     max-height: 50vh;
     overflow-y: auto;
 }
 /*#updatesLogList > div {
     min-height: 25px;
 }*/
 #updatesLogList > div > div:first-child {
     width: 25%;
 }
 #patreonIcon {
    right: 30px;
    top: 34px;
    cursor: pointer;
 }
 #patreonIcon > img {
    height: 30px !important;
    width: 30px;
 }
 #settingsCog > svg, #patreonIcon > img, #updatesIcon > svg, #infoIcon > svg, #batchIcon > svg, #pluginsIcon > svg {
     height: 25px;
     cursor: pointer;
     filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7))
 }
 #infoIcon > svg {
     height: 30px;
     top: ;
 }
 #activeModal > span {
     overflow-y: auto;
     overflow-x: hidden;
 }

 #patreonButton {
    margin-top: 10px;
    width: 11rem;
    -webkit-box-align: center;
    align-items: center;
    backface-visibility: hidden;
    background-color: rgb(255, 66, 77);
    border-radius: 9999px;
    border: 1px solid rgb(255, 66, 77);
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-weight: 500;
    height: unset;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0.46875rem 1rem;
    position: relative;
    pointer-events: unset;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    user-select: none;
    white-space: unset;
    /*width: 100%;*/
    color: rgb(255, 255, 255) !important;
    font-size: 0.875rem !important;
 }








/* Batch stuff */
#batch_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#batch_main, #plugins_main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 80vw;
    background: rgb(75,75,75);
    color: gray;
    overflow: auto;
}
#plugins_main {
    width: 60vw;
}
#batchDropZoneNote {
    font-size: 30pt;
}
#batch_footer {
    padding: 20px;
}
#batch_intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    width: 80vw;
}
#batch_intro > div:first-child {
    display: flex;
    align-items: center;
    width: 250px;
}
#batch_intro > div:last-child {
    width: 250px;
}
#batch_intro > div:first-child > input {
    width: 50px;
    margin-left: 10px;
}
#batch_intro > div:nth-child(2) {
    width: 80%;
}
#batch_outputFolderInput, #batch_progressBar {
    width: 400px;
    height: 20px;
    margin: 2px;
    padding: 4px;
    /*min-height: 35px;*/
    max-height: 35px;
}
#batch_progressBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin: 4px;
    background: white;
    text-shadow: 0 0 2px black;
    border: 1px solid white;
}
#batch_out_opts, #plugins_opts {
    min-height: 45px;
}
#batch_out_opts, #batch_out_opts>span, #plugins_opts {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
#batchRecordsHeader, #pluginsRecordsHeader {
    position: sticky;
    top: 0;
}
#batchRecordsHeader > div, #pluginsRecordsHeader > div {
    background-color: rgb(75,75,75);
    box-shadow: 0 1px 5px 1px rgba(0,0,0,0.3);
    text-shadow: 0 0 2px black;
    font-weight: bold;
}
#pluginsRecordsContainer > div {
    cursor: pointer;
}
#batchRecordsHeader, #batchRecordsContainer > div, #pluginsRecordsHeader, #pluginsRecordsContainer > div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#batchRecordsHeader > div, #batchRecordsContainer > div > div, #pluginsRecordsHeader > div, #pluginsRecordsContainer > div > div {
    padding: 2px;
    border: 1px solid;
    color: white;
    flex-grow: 1;
    height: 20px;
    text-overflow: ellipsis;
}
#batchRecordsHeader > div, #batchRecordsContainer > div > div {
    white-space: nowrap;
    overflow: hidden;
}
/*Index*/
#batchRecordsHeader > div:first-child, #batchRecordsContainer > div > div:first-child {
    min-width: 50px;
    max-width: 50px;
}
/*Status*/
#batchRecordsHeader > div:nth-child(2), #batchRecordsContainer > div > div:nth-child(2) {
    min-width: 100px;
    max-width: 100px;
}
/*Game*/
#batchRecordsHeader > div:nth-child(3), #batchRecordsContainer > div > div:nth-child(3) {
    min-width: 150px;
    max-width: 150px;
}
/*Voice*/
#batchRecordsHeader > div:nth-child(4), #batchRecordsContainer > div > div:nth-child(4) {
    min-width: 250px;
    max-width: 250px;
}
/*Text*/
#batchRecordsHeader > div:nth-child(5), #batchRecordsContainer > div > div:nth-child(5) {
    min-width: 500px;
    max-width: 500px;
}
/*Vocoder*/
#batchRecordsHeader > div:nth-child(6), #batchRecordsContainer > div > div:nth-child(6) {
    min-width: 100px;
    max-width: 100px;
}
/*Out path*/
#batchRecordsHeader > div:nth-child(7), #batchRecordsContainer > div > div:nth-child(7) {
    min-width: 300px;
    max-width: 300px;
    direction: rtl;
    text-align: left;
}
/*Pacing*/
#batchRecordsHeader > div:nth-child(8), #batchRecordsContainer > div > div:nth-child(8) {
    min-width: 50px;
    /*max-width: 50px;*/
}

/*PLUGINS*/
/*Enabled*/
#pluginsRecordsContainer > div > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
}
#pluginsRecordsHeader > div:first-child, #pluginsRecordsContainer > div > div:first-child {
    min-width: 65px;
    max-width: 65px;
}
/*Load order*/
#pluginsRecordsHeader > div:nth-child(2), #pluginsRecordsContainer > div > div:nth-child(2) {
    min-width: 60px;
    max-width: 60px;
}
/*Plugin name*/
#pluginsRecordsHeader > div:nth-child(3), #pluginsRecordsContainer > div > div:nth-child(3) {
    min-width: 200px;
    max-width: 200px;
}
/*Version*/
#pluginsRecordsHeader > div:nth-child(4), #pluginsRecordsContainer > div > div:nth-child(4) {
    min-width: 60px;
    max-width: 60px;
}
/*Type*/
#pluginsRecordsHeader > div:nth-child(5), #pluginsRecordsContainer > div > div:nth-child(5) {
    min-width: 60px;
    max-width: 60px;
}
/*Plugin short descriptions*/
#pluginsRecordsHeader > div:nth-child(6), #pluginsRecordsContainer > div > div:nth-child(6) {
    min-width: 450px;
    /*max-width: 450px;*/
}
/*Plugin ID*/
#pluginsRecordsHeader > div:nth-child(7), #pluginsRecordsContainer > div > div:nth-child(7) {
    min-width: 150px;
    max-width: 150px;
}