 button, .voiceType {
     background-color: #92ab20;
     border: none;
     color: white;
     padding: 5px;
     text-shadow: 0 0 2px black;
     font-size: 13pt;
     font-weight: bold;
     cursor: pointer;
     user-select: none;
     box-shadow: 0 1px 5px 1px rgba(0,0,0,0.3);
     transition: background-color 500ms;
 }
 button:hover, .voiceType:hover {
     filter: brightness(110%);
 }
 button:disabled {
     background-color: gray;
     opacity: 0.65;
     cursor: not-allowed;
 }
 body {
     margin: 0;
     overflow: hidden;
 }
 #appcontent {
     background-color: #383838;
     height: 100vh;
     display: flex;
     overflow: hidden;
     font-family: Helvetica;
 }
 #left, #right {
     height: 100%;
     flex-grow: 1;
     width: 50vw;
 }
 #left {
     width: 350px;
 }
 #right {
     width: calc(100vw - 300px);
     z-index: 1;
 }
 #rightBG1, #rightBG2 {
     width: calc(100vw - 300px);
     background: linear-gradient(0deg, grey 0, rgba(0,0,0,0)), grey;
     background-repeat: no-repeat !important;
     background-position-x: 100% !important;
     background-size: cover !important;
     height: 100%;
     z-index: -1;
     position: absolute;
 }
 #rightBG2 {
     transition: opacity 500ms;
 }
 .top {
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 10px;
     height: 5vh;
     font-size: 18pt;
 }
 #topLeft {
     align-items: baseline;
     padding-bottom: 5px;
     margin-top: -10px;
 }
 #game-label {
     font-weight: bold;
     font-family: Arial;
     height: 100%;
     display: flex;
     align-items: center;
     text-shadow: 0 1px rgba(255,255,255,0.5);
     font-size: 2rem;
     color: #555;
 }
 select {
     width: 150px;
     font-size: 18pt;
     color: white;
     background: rgba(0,0,0,0);
     border: none;
 }
 option {
     color: black;
     background-color: rgba(0,0,0,0);
 }
 .content {
     height: 95vh;
 }
 #voiceTypeContainer {
     margin: 10px;
     height: calc(95vh - 50px);
     padding-top: 1px;
     overflow-y: auto;
     background: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.05) 35px, rgba(255,255,255,.05) 70px), linear-gradient(0deg, #444 0, rgba(0,0,0,0)), gray;
 }
 .voiceType {
     text-align: center;
     background-color: darkgrey;
     margin: 5px;
     padding-top: 1px;
 }
 #topRight {
     display: block;
     padding-bottom: 5px;
     z-index: 3;
 }
 #title {
     display: flex;
     justify-content: center;
     font-weight: bold;
     font-family: Arial;
     text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
     color: black;
 }
 #topRight > svg {
     height: 30px;
     width: 30px;
     margin-top: -30px;
     float: right;
     cursor: pointer;
 }
 #description {
     color: white;
     text-shadow: 0 0 1px black;
     text-align: center;
     height: 20px;
 }
 #description.withContent {
     background-color: rgba(0,0,0,0.2);
 }
 textarea {
     opacity: 0.9;
     height: 50px;
     width: calc(95vw - 306px);
     margin-left: 2.5vw;
     margin-right: 2.5vw;
     margin-top: 9px;
     overflow-x: hidden;
     text-align: center;
 }
 #buttonContainer {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 5vh;
     margin: 10px;
 }
 #buttonContainer > button {
     margin-left: 5px;
 }
 #samplePlay {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 30px;
     width: 30px;
     font-size: 25pt;
     font-weight: bold;
     font-family: Arial;
     text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
     margin-left: 15px;
     margin-right: 10px;
     cursor: pointer;
     user-select: none;
 }
 #voiceSamples {
     width: calc(95vw - 300px);
     height: calc(90vh - 185px - 250px);
     background: rgba(255,255,255,0.1);
     margin-left: 2.5vw;
     margin-right: 2.5vw;
     margin-top: 20px;
     overflow-y: auto;
 }
 .sample {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 5px;
     background: white;
     padding: 2px;
     padding-left: 15px;
     border-radius: 3px;
 }
 .sample > div:first-child {
     display: -webkit-box;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 3;
     width: calc(100% - 275px);
 }
 .sample > div {
     display: flex;
     overflow: hidden;
     text-overflow: ellipsis;
 }
 .sample > div > div {
     display: flex;
     align-items: center;
     font-size: 18pt;
     cursor: pointer;
 }
 audio {
     width: 200px;
 }
 @keyframes spinner-spin {
     0% {
         transform: rotate(0deg);
     }
     100% {
         transform: rotate(360deg);
     }
 }
 .spinner {
     display: inline-block;
     border: 7px solid rgba(0, 0, 0, 0.4);
     border-left-color: #7983ff;
     border-radius: 50%;
     width: 20px;
     height: 20px;
     padding: 5px;
     animation: spinner-spin 1.2s linear infinite;
 }

 ::-webkit-scrollbar {
     width: 8px;
 }
 ::-webkit-scrollbar-track {
     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
     border-radius: 10px;
 }
 ::-webkit-scrollbar-thumb {
     border-radius: 10px;
     /*background: rgba(218,142,58, 0.5) !important;*/
     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
 }

 #modalContainer {
     display: flex;
     justify-content: center;
     align-items: center;
     position: absolute;
     height: 100vh;
     width: 100vw;
     transition: opacity 300ms;
     background: rgba(0,0,0,0.5);
     z-index: 100;
 }
 .modal {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     height: 30vh;
     width: 30vw;
     padding: 10px;
     min-height: 100px;
     max-height: 100vh;
     min-width: 200px;
     max-width: 100vw;
     text-align: center;
     background-color: #333;
     color: white;
     box-shadow: 0 1px 2px 2px rgba(255,255,255,0.1);
 }
 .modal > span {
     margin-bottom: 25px;
 }
 .modal > div {
     margin: 10px;
 }
 .modal button {
     margin-left: 10px;
 }
 /*Chrome*/
 #chrome {
     display: flex;
     height: 25px;
     width: 100vw;
     background-color: #383838;
 }
 #dragBar {
     flex-grow: 1;
     -webkit-app-region: drag;
     display: flex;
     align-items: center;
     justify-content: center;
     font-family: Helvetica;
     color: rgb(200,200,200);
 }
 #chromeActions, #chromeActions > div {
     display: flex;
 }
 #chromeActions > div {
     justify-content: center;
     align-items: center;
     color: white;
     padding: 5px;
     cursor: pointer;
     user-select: none;
 }
 #chromeActions > div:hover {
     color: rgb(200,200,200);
 }
 #chromeQuit:hover {
     color: red !important;
 }


 /*===========================================================================*/
 /*======================== Pitch editor =====================================*/
 /*===========================================================================*/
 input[type=checkbox] {
     height: 20px;
     width: 20px;
 }

 #editorContainer {
     overflow-x: scroll;
     margin-left: 2.5vw;
     margin-right: 2.5vw;
 }
 #letterLength {
     width: 200px;
 }
 #editor {
     font-family: monospace;
     width: 7500px;
     height: 200px;
     height: 180px;
     display: flex;
     overflow-x: auto;
     overflow-y: hidden;
     align-items: center;
     padding-left: 25px;
 }
 .letter > div:first-child {
     height: 10px;
     margin-top: -15px;
 }
 .letter {
     height: 200px;
     height: 150px;
     width: 50px;
     cursor: pointer;
     display: inline-flex;
     margin-top: -30px;
 }
 #editor > div > div {
     text-align: center;
     font-size: 20pt;
 }

 .slider::-webkit-slider-thumb {
   -webkit-appearance: none;
   cursor: pointer;
   cursor: n-resize;
   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
 }

 .slider {
   -webkit-appearance: none;
   transform: rotate(270deg);
   width: 150px !important;
   min-width: 150px !important;
   max-width: 150px !important;
   height: 50px;
   margin-left: -85px;
 }

 .slider::-webkit-slider-thumb {
   -webkit-appearance: none;
   width: 10px;
   height: 50px;
   margin-top: 0px;

   border-radius: 0px;
   border: none;
   background: rgba(218,142,58, 0.9) !important;
 }

 .slider:focus {
   outline: none;
 }